table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #83d672;
  font-weight: bold;
  text-align: left;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table1, .table2 {
  margin-top: 0;
}
